html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  padding: 1em;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 100%;
}

.ant-select-selection-overflow{
  white-space: nowrap;
}


.ant-select-selector{
  white-space: nowrap;
  max-height: 80px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.ant-tree-select{
  width: 100%;
}