.card{
    aspect-ratio: 1 / 1;
    font-size: small;
    white-space: pre-wrap;
    flex-wrap: wrap;
}

.space{
    display: flex;
    flex-wrap: wrap;
    
}

.space > *{
    margin: 0.2em;
}

.tag {
    color: black;
}