.card{
    font-size: small;
    white-space: pre-wrap;
    flex-wrap: wrap;
    min-height: 100%;
}

.space{
    display: flex;
    flex-wrap: wrap;
    
}

.space > *{
    margin: 0.2em;
}

.tag {
    color: black;
}